@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}


<br />
<div class="m-lg-5">
    <div class="m-lg-5">
        PURCHASE - INDEX
        <br />
    </div>
</div>
