@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
@using DomainRegistrarWebApp.Models.Purchase
@model PurchaseDetailsModel
@{
    string dm = Model.DomainName;
}

<br />
<div class="m-lg-5">
    <div class="m-lg-5">
        PURCHASE - INDEX
        <br />
    </div>
</div>
