<!-- Header -->
<header class="">
    <div class="banner-small">
        <div class="container">
            @await Html.PartialAsync("Banners/_NavbarWithoutButtons")
        </div>
    </div>
</header>