<div id="search-section">
    <form id="suggestion_form" name="gs" method="post">
        <div class="searchText">
            <fieldset>
                <div class="form-group">
                    <input class="form-control searchText" name="q" placeholder="Example: google.com" required="" />
                </div>
            </fieldset>
        </div>
        <input type="submit" name="results" class="main-button btn btn-primary" value="Search Now">
    </form>
</div>