@{
    ViewData["Title"] = "Search Result";
    Layout = "~/Views/Shared/Layouts/_AuthLayout.cshtml";
}
@model SearchResultViewModel

<div class="main-page p-5">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Domain name</th>
                <th scope="col">Domain availability</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @{
                    string dm = Model.DomainName;
                    string da = Model.DomainAvailability;
                }
                <td>@dm</td>

                @{

                    if (da == "UNAVAILABLE")
                    {
                        <td class="alert alert-danger">@da</td>
                    }
                    else if (da == "AVAILABLE")
                    {
                        <td class="alert alert-success">@da</td>
                        <td><button class="btn btn-success">Buy now - $10</button></td>
                    }
                    else
                    {
                        <td class="alert alert-danger">@da</td>
                    }
                }
            </tr>
        </tbody>
    </table>
    @{
        <br /><br />
        if (da == "UNAVAILABLE")
        {
            <h4 class="text-center">Your domain name is taken. Please choose another.</h4><br />
        }
        else if (da == "AVAILABLE")
        {
            <h4 class="text-center">Changed your mind? Check another domain name.</h4><br />
        }
        else
        {
            <h4 class="text-center">Check another domain name.</h4><br />
        }
        <div class="container-md">@await Html.PartialAsync("Banners/_Search")</div>
    }
</div>