@{
    ViewData["Title"] = "ERROR";
}

@await Html.PartialAsync("Banners/_HeaderBanner")

<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-lg">
    <h1 class="text-danger"> The application has encountered an unknown error. </h1>
    <br />
    <p>Try again or if the problem persists contact support.</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

