@{
    ViewData["Title"] = "ERROR";
}

@await Html.PartialAsync("Banners/_HeaderBanner")

<br />
<br />
<h1> The application has encountered an unknown error. </h1>

@await Html.PartialAsync("_Contact")