@{ ViewData["Title"] = "Home Page"; }

@await Html.PartialAsync("Banners/_HeaderBanner")
@await Html.PartialAsync("Banners/_SearchBanner")
<div class="trusted-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="trusted-section-heading">
                    <h4>TRUSTED BY 1,250+ HAPPY CUSTOMERS WORLDWIDE</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-trusted owl-carousel">
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 1">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 2">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 3">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 4">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 5">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 6">
                    </div>
                    <div class="trusted-item">
                        <img src="~/images/trusted-01.png" alt="trusted 7">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Testimonials</span>
                    <h2>What they say about us</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="owl-testimonials owl-carousel">
                    <div class="testimonial-item">
                        <div class="icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada."</p>
                        <h4>William Smith</h4>
                        <span>New Co-Founder</span>
                    </div>
                    <div class="testimonial-item">
                        <div class="icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna luctus risus, eu accumsan risus elit vitae lacus."</p>
                        <h4>Catherine Smart</h4>
                        <span>Digital Marketer</span>
                    </div>
                    <div class="testimonial-item">
                        <div class="icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <p>"Vestibulum mauris ipsum, tempor tincidunt justo sit amet, bibendum tincidunt dui. Aenean molestie, odio quis viverra ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis."</p>
                        <h4>Trevor Liam</h4>
                        <span>Technology Chef</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>